.carousel-indicators li {
  border-width: 2px;
  margin: 0 8px;
  &.active {
    margin: 0 8px;
  }
}
.carousel-caption {
  > * {
    color: #fff;
  }
}
.carousel-inner, .carousel-item {
  height: 100%;
}