// Cards
.card-title {
  margin-bottom: 0.6666rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.card p:last-child {
  margin-bottom: 0;
}

.card-block + .card-block {
  padding-top: 0;
}
.card-block img {
  max-width: 100%;
  height: auto;
}

.card-subtitle {
  margin-top: -0.3rem;
}

.card-footer {
  padding: $o-card-cap-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.12) inset;
}

// Card Images
[class^="card-img"] {
  width: 100%;
  // Fix for post images in WordPress
  .post &.wp-post-image {
    width: auto;
    max-width: 100%;
  }
}
.card-img {
  border-radius: $card-border-radius;
  height: auto !important;
}
.card-img-container {
  position: relative;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  background-size: cover;
  background-color: $card-cap-bg;
  justify-content: center;
}

// Image Overlay
.card-img-overlay {
  color: #fff;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.65);
  > *, > * > *,
  > *:hover , > * > *:hover,
  > *:focus , > * > *:focus {
    color: #fff;
    outline: none;
  }
  &.card-img-overlay-mini {
    left: auto;
    right: auto;
    width: auto;
    padding: $card-img-overlay-padding/2 $card-img-overlay-padding;
  }
}

// Image Overlay Background Variations
.card-img-overlay-fade-to-bottom {
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%);
}
.card-img-overlay-fade-to-top {
  background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 60%);
}

// Image Overlay positioning
.card-img-overlay-top {
  justify-content: flex-start;
  &.card-img-overlay-mini {
    bottom: auto;
    top:  $card-spacer-y;
    .card-hero & {
      top: $o-card-hero-spacer-y;
    }
  }
}
.card-img-overlay-center {
  justify-content: center;
  &.card-img-overlay-mini {
    bottom: auto;
    top:  $card-spacer-y;
    .card-hero & {
      top: $o-card-hero-spacer-y;
    }
  }
}
.card-img-overlay-bottom {
  justify-content: flex-end;
  &.card-img-overlay-mini {
    top: auto;
    bottom:  $card-spacer-y;
    .card-hero & {
      bottom: $o-card-hero-spacer-y;
    }
  }
}
.card-img-overlay-left {
  &.card-img-overlay-mini {
    right: auto;
    left:  $card-spacer-x;
    .card-hero & {
      left: $o-card-hero-spacer-x;
    }
  }
}
.card-img-overlay-right {
  &.card-img-overlay-mini {
    left: auto;
    right:  $card-spacer-x;
    .card-hero & {
      right: $o-card-hero-spacer-x;
    }
  }
}

// Image overlay effects
.card-img-overlay-on-hover {
  opacity: 0;
  > * {
    opacity: 0;
    transform: translateY(2em);
  }
  > *:nth-child(1) {
    transition-delay: 0.4 * $o-transition-speed;
  }
  > *:nth-child(2) {
    transition-delay: 0.2 * $o-transition-speed;
  }
  > *:nth-child(2) {
    transition-delay: 0 * $o-transition-speed;
  }
  &:hover{
    opacity: 1;
    > * {
      opacity: 1;
      transform: translateY(0);
    }
    > *:nth-child(2) {
      transition-delay: 0.2 * $o-transition-speed;
    }
    > *:nth-child(3) {
      transition-delay: 0.4 * $o-transition-speed;
    }
  }
}

// Card Columns
.card-columns {
  column-gap: $grid-gutter-width;
  .card {
    display: inline-block;
  }
}
.card-columns-2 {
  column-count: 2;
}
.card-columns-4 {
  column-count: 4;
}

// Blockquote Card
.card-blockquote.blockquote {
  padding: ($spacer * 3);
}

// Horizontal Cards
.card > .row {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  > [class^="col"] {
    padding: 0;
  }
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .card > .row [class^="col-#{$breakpoint}"] {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      .card-img, .carousel {
        top: 0;
        left: 0;
        height: 100% !important;
        width: 100%;
        position: absolute;
        object-fit: cover;
      }
      .carousel img {
        height: 100%;
        width: 100% !important;
        object-fit: cover;
      }
      // Explorer fix for object fit
      body.--o--agent-explorer &, body.--o--agent-edge & {
        .card-img {
          visibility: hidden;
        }
      }
    }
  }
}

// Inverse Cards
.card-inverse, .card.sticky {
   @include card-variant($o-card-inverse-bg, $o-card-inverse-bg);
  .card-subtitle, .card-subtitle > *, .card-title > * {
    color: #fff;
  }
  .card-text, .card-block {
    color: rgba(255, 255, 255, 0.65);
    a {
      color: rgba(255, 255, 255, 1);
    }
  }
  .card-footer {
    a, a:hover, .text-muted, a.text-muted {
      color: #fff !important;
    }
  }
}

// Hero Cards
@include media-breakpoint-up(sm) {
  .card-hero {
    .card-block {
      padding: $o-card-hero-spacer-x $o-card-hero-spacer-y;
      & + .card-block {
        padding-top: 0;
      }
    }
  }
}