.form-control:not(.btn) {
  border: 0;
  border-left: $input-btn-border-width solid $input-border-color;
  &::placeholder {
    font-style: italic;
  }
  &:disabled::placeholder {
    opacity: 0.5;
  }
}
.form-check-input:only-child {
  position: absolute;
}