// Icon List
$icon-set-item-size: 2em;
.--o--icon-set {
  display: inline-block;
  background: inherit;
  line-height: inherit;
  &.--o--icon-set-transparent {
    background: transparent;
  }
  .--o--icon-set-item {
    text-align: center;
    background: inherit;
    width: $icon-set-item-size;
    text-align: center;
    display: inline-block;
    position: relative;
  }
  &.--o--icon-set-expandable {
    position: relative;
    .--o--icon-set-item:not(:first-child) {
      position: absolute;
      opacity: 0;
      right: 0;
      top: 0;
      z-index: 2;
    }
    .--o--icon-set-item-trigger {
      opacity: 1;
      z-index: 3;
    }
    &.open {
      .--o--icon-set-item {
        opacity: 1;
      }
      .--o--icon-set-item-trigger {
        opacity: 0;
        z-index: 2;
      }
      .--o--icon-set-item-close {
        opacity: 1;
        transform: rotate(180deg);
        z-index: 3;
      }
      .--o--icon-set-item:nth-child(3) {
        transform: translateX(-$icon-set-item-size);
      }
      .--o--icon-set-item:nth-child(4) {
        transform: translateX(-$icon-set-item-size * 2);
      }
      .--o--icon-set-item:nth-child(5) {
        transform: translateX(-$icon-set-item-size * 3);
      }
      .--o--icon-set-item:nth-child(6) {
        transform: translateX(-$icon-set-item-size * 4);
      }
      .--o--icon-set-item:nth-child(7) {
        transform: translateX(-$icon-set-item-size * 5);
      }
      .--o--icon-set-item:nth-child(8) {
        transform: translateX(-$icon-set-item-size * 6);
      }
    }
  }
}

