// Outer navigation wrapper
.--o--nav {
  min-height: $o-nav-height;
  position: relative;
  z-index: $zindex-navbar-fixed;
  background-color: $o-nav-bg;
  left: 0;
  top: 0;
  width: 100%;
  transition: all $o-transition-speed cubic-bezier(.25,.8,.25,1), opacity 0s;
  transform: translate3d(0,0,0);
  font-family: $o-nav-font-family;
  font-weight: $o-nav-font-weight;
  box-shadow: $o-nav-shadow;
  // Scrolled navbar
  &.--o--nav-scrolled {
    min-height: $o-nav-height-scrolled;
  }
  // Stuck navbar
  &.--o--nav-stuck {
    position: fixed;
  }
}

// Nav container
.--o--nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  @include make-container();
  @include make-container-max-widths();
  // When fluid is on take the full width
  .--o--nav-fluid & {
    max-width: initial;
  }
}

// Logo and branding
.--o--nav-brand {
  height: $o-nav-height;
  transition: all $o-transition-speed cubic-bezier(.25,.8,.25,1);
  font-size: $o-nav-brand-font-size;
  transform: translate3d(0,0,0);
  padding: $o-nav-brand-padding-y 0;
  a {
    display: flex;
    align-items: center;
    height: 100%;
    &, &:visited {
      color: $o-nav-link-color;
      text-decoration: none;
      color: $o-nav-brand-color;
    }
    &:hover {
      color: $o-nav-brand-color;
    }
  }
  // Logo image
  img {
    margin-right: 10px;
    transition: all $o-transition-speed cubic-bezier(.25,.8,.25,1);
    height: 100%;
    max-width: 100%;
    width: auto;
    transform: translate3d(0,0,0);
  }
  .--o--nav-scrolled & {
    height: $o-nav-height-scrolled;
  }
}
// Main menu container - prevent it from going outside the screen on small devices
.--o--nav-menu {
  max-height: 400px;
  overflow: auto;
}
// Main menu level
.--o--nav-list {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  > li  {
    > a, > a:visited {
      padding: $o-nav-link-padding-y 0;
      display: block;
      color: $o-nav-link-color;
      font-size: $o-nav-link-font-size;
      transition: all $o-transition-speed cubic-bezier(.25,.8,.25,1);
    }
    > a:hover {
      color: $o-nav-link-hover-color;
      background-color: $o-nav-link-hover-bg;
    }
    &.active > a,
    &.active > a:hover {
      color: $o-nav-link-active-color;
      background-color: $o-nav-link-active-bg;
    }
  }
}

// Main menu widget position
.--o--nav-widget {
  display: none;
  color: $o-nav-link-color;
  a {
    color: $o-nav-link-color;
  }
  .--o--widget {
    padding: $o-nav-link-padding-y 0;
  }
}

// Dropdown menus
.--o--nav-dropdown {
  transition: max-height 1s;
  overflow: hidden;
  max-height: 1000px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $o-nav-dropdown-bg;
  li  {
    a {
      color: $o-nav-dropdown-link-color;
      display: block;
      padding: $o-nav-dropdown-link-padding-y $o-nav-dropdown-link-padding-x;
      transition: padding $o-transition-speed, color $o-transition-speed, background-color $o-transition-speed;
      font-size: $o-nav-dropdown-font-size;
      &:hover {
        color: $o-nav-dropdown-link-hover-color;
        background-color: $o-nav-dropdown-link-hover-bg;
      }
    }
    &.active {
      a {
        color: $o-nav-dropdown-link-active-color;
        background-color: $o-nav-dropdown-link-active-bg;
      }
    }
  }
  @for $i from 2 through 20 {
    li:nth-child(#{$i}) a {
      transition: padding $o-transition-speed $i * $o-transition-speed/4, color $o-transition-speed, background-color $o-transition-speed;
    }
  }
  &.closed {
    max-height: 0px;
    transition-duration: .3s;
    li a {
      padding: $o-nav-dropdown-link-padding-y $o-nav-dropdown-link-padding-x/2;
    }
  }
}

// Burger button
.--o--nav-mobile {
  position: absolute;
  top: 0;
  right: $grid-gutter-width/2;
  span {
    user-select: none;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    &, &:before, &:after {
      position: absolute;
      display: block;
      width: 25px;
      height: 2px;
      background-color: $o-nav-link-color;
      outline: 1px solid transparent;
      transition-property: background-color, transform;
      transition-duration: 0.3s;
    }
    &:before, &:after {
      content: "";
    }
    &:before {
      top: -8px;
    }
    &:after {
      top: 8px;
    }
  }
  a {
    display: block;
    position: relative;
    height: $o-nav-height;
    width: 48px;
    transition: all $o-transition-speed cubic-bezier(.25,.8,.25,1);
    transform: translate3d(0,0,0);
    &.active {
      transform: rotate(180deg);
      span {
        background-color: transparent !important;
        &:before {
          transform: translateY(8px) rotate(45deg);
        }
        &:after {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
    .--o--nav-scrolled & {
      height: $o-nav-height-scrolled;
    }
  }
}

// Float  navigation
.--o--nav-float {
  top: 0;
  margin-bottom: -($o-nav-height);
  background-color: transparent;
  box-shadow: none;
  .--o--nav-container {
    background-color: $o-nav-bg;
    box-shadow: $o-nav-shadow;
    &:before, &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 70%;
      max-width:300px;
      box-shadow: $o-nav-float-shadow;
      transform: rotate(-3deg);
    }
    &:after {
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }
  }
  &.--o--nav-layout-logo-tl-menu-b,
  &.--o--nav-layout-logo-tr-menu-b,
  &.--o--nav-layout-logo-tc-menu-b {
    margin-bottom: -($o-nav-height + $o-nav-link-brand-height);
  }
}

// Transparent navigation
.--o--nav-transparent:not(.--o--nav-scrolled) {
  margin-bottom: -$o-nav-height;
  background-color: $o-nav-transparent-bg;
  box-shadow: none;
  .--o--nav-brand {
    a {
      &, &:visited {
        color: $o-nav-transparent-link-color;
      }
      &:hover {
        color: $o-nav-transparent-link-hover-color;
      }
    }
  }
  .--o--nav-list {
    > li {
      >a , > a:visited {
        color: $o-nav-transparent-link-color;
      }
      > a:hover {
        color: $o-nav-transparent-link-hover-color;
      }
      > a:before {
        background-color: $o-nav-transparent-link-color;
      }
    }
  }
  // Burger button
  .--o--nav-mobile {
    span, span:before, span:after {
      background-color: $o-nav-transparent-link-color;
    }
  }
}

// Navigation styles for big screens
@media screen and (min-width: $o-nav-collapse-breakpoint) {
  .--o--nav-menu {
    max-height: none;
    overflow: visible;
    display: flex;
    align-items: center;
  }
  // Hide mobile trigger
  .--o--nav-mobile {
    display: none;
  }
  .--o--nav-container {
    flex-direction: row;
  }
  // Main menu has proper height now
  .--o--nav-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    > li  {
      position: relative;
      > a {
        padding: 0 $o-nav-link-padding-x;
        height: 100%;
        line-height: $o-nav-height;
        position: relative;
        &:before {
          content: "";
          width: 0;
          height: $o-nav-link-border-width;
          transition: all $o-transition-speed cubic-bezier(.25,.8,.25,1);
          left: 50%;
          top: 0;
          opacity: 0;
          background-color: $o-nav-link-border-color;
          position: absolute;
          transform: translateX(-50%);
        }
        .--o--nav-scrolled & {
          line-height: $o-nav-height-scrolled;
        }
      }
      &.active > a,
      >a:hover {
        &:before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }

  // Widget
  .--o--nav-widget {
    display: flex;
    .--o--widget {
      padding: 0 $o-nav-link-padding-x;
    }
  }

  // Dropdowns
  .--o--nav-dropdown {
    position: absolute;
    width: $o-nav-dropdown-width;
    top: 100%;
    left: 0;
    box-shadow: 0px $o-nav-link-border-width 0px $o-nav-link-border-color inset, $o-nav-dropdown-shadow;
  }

  // Menu layouts
  .--o--nav-layout-logo-r-menu-l {
    .--o--nav-brand {
      order: 2;
    }
  }
  .--o--nav-layout-logo-c-menu-lr {
    .--o--nav-container {
      justify-content: center;
    }
    .--o--nav-brand {
      order: 1;
      width: $o-nav-link-brand-width;
      text-align: center;
      a {
        justify-content: center;
      }
      img {
        margin-right: 0;
      }
    }
    .--o--nav-list > li > a {
      width: $o-nav-link-max-size;
      text-align: center;
    }
    .--o--nav-menu:last-of-type {
      order: 3;
    }
  }
  .--o--nav-layout-logo-tl-menu-b,
  .--o--nav-layout-logo-tr-menu-b,
  .--o--nav-layout-logo-tc-menu-b {
    .--o--nav-container {
      flex-direction: column;
    }
    .--o--nav-brand {
      line-height: $o-nav-link-brand-height;
      height: $o-nav-link-brand-height;
      img {
        max-height: $o-nav-link-brand-height;
      }
    }
  }
  .--o--nav-layout-logo-tr-menu-b {
    .--o--nav-container {
      align-items: flex-end;
    }
  }
  .--o--nav-layout-logo-tc-menu-b {
    .--o--nav-container {
      align-items: center;
    }
    .--o--nav-brand {
      a {
        justify-content: center;
      }
      img {
        margin-right: 0;
      }
    }
  }

  // Float  navigation
  .--o--nav-float {
    top: $o-nav-float-y;
    margin-bottom: -($o-nav-height + $o-nav-float-y);
    &.--o--nav-layout-logo-tl-menu-b,
    &.--o--nav-layout-logo-tr-menu-b,
    &.--o--nav-layout-logo-tc-menu-b {
      margin-bottom: -($o-nav-height + $o-nav-link-brand-height + $o-nav-float-y);
    }
  }

  // Transparent navigation
  .--o--nav-transparent:not(.--o--nav-scrolled) {
    &.--o--nav-layout-logo-tl-menu-b,
    &.--o--nav-layout-logo-tr-menu-b,
    &.--o--nav-layout-logo-tc-menu-b {
      margin-bottom: -($o-nav-height + $o-nav-link-brand-height);
    }
  }
}
