// Panels
.panel-group {
  .panel-heading {
    padding: $o-panel-heading-padding-y $o-panel-heading-padding-x;
    background-color: $o-panel-heading-bg;
    border-bottom: 1px solid $o-panel-heading-border-color;
  }
  .panel:last-child .panel-heading {
    border-bottom: 0;
  }
  .panel-title {
    margin-bottom: 0;
    color: $o-panel-heading-color;
    a {
      display: block;
      position: relative;
      z-index: 2;
      &:after {
        width: 24px;
        height: 24px;
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -12px;
        z-index: 1;
        transition: all $o-transition-speed cubic-bezier(.25,.8,.25,1);
        font-family: FontAwesome;
        content: "\f107";
        text-align: center;
        line-height: 24px;
        font-size: 16px;
      }
      &:not(.collapsed):after {
        transform: rotate(180deg);
      }
    }
  }
  .panel-collapse {
    background-color: $o-panel-content-bg;
    color: $o-panel-content-color;
    > div {
      padding: $o-panel-content-padding-y $o-panel-content-padding-x;
    }
  }
}
