.section {
  position: relative;
}
.section-content {
  position: relative;
  z-index: 2;
}

.section-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

// Full height sections
.section-fullheight {
  min-height: 100vh;
  .container, .container-fullwidth {
    min-height: 100vh;
    > .row {
      height: 100vh;
    }
  }
}
// Full height fix for iOS
// ipad
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .section-fullheight {
    height: 768px;
    .container, .container-fullwidth {
      min-height: 768px;
      > .row {
        min-height: 768px;
      }
    }
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .section-fullheight {
    height: 1024px;
    .container, .container-fullwidth {
      min-height: 1024px;
      > .row {
        min-height: 1024px;
      }
    }
  }
}
// iphone5
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  .section-fullheight {
    height: 320px;
    .container, .container-fullwidth {
      min-height: 320px;
      > .row {
        min-height: 320px;
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  .section-fullheight {
    height: 568px;
    .container, .container-fullwidth {
      min-height: 568px;
      > .row {
        min-height: 568px;
      }
    }
  }
}
// iPhone 4
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  .section-fullheight {
    height: 320px;
    .container, .container-fullwidth {
      min-height: 320px;
      > .row {
        min-height: 320px;
      }
    }
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  .section-fullheight {
    height: 480px;
    .container, .container-fullwidth {
      min-height: 480px;
      > .row {
        min-height: 480px;
      }
    }
  }
}

// Background Image
.section-bg-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// Background Behaviour
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
      // Background Image Position
    .section-bg-image-position-#{$breakpoint}-top {
      background-position: top;
    }
    .section-bg-image-position-#{$breakpoint}-middle {
      background-position: 50%;
    }
    .section-bg-image-position-#{$breakpoint}-bottom {
      background-position: bottom;
    }
    // Background Image Size
    .section-bg-image-size-#{$breakpoint}-100 {
      background-size: 100%;
    }
    .section-bg-image-size-#{$breakpoint}-cover {
      background-size: cover;
    }
    .section-bg-image-size-#{$breakpoint}-contain {
      background-size: contain;
    }
  }
}

// Background Image Repeat
.section-bg-image-repeat {
  background-repeat: repeat;
}
// Background Image Parallax
.section-bg-image-paralax {
  // Disable for touch devices
  body:not(.--o--agent-touch) & {
    display: none; /* 1 */
    height: 100% + $parallax-space;
    top: -($parallax-space / 2);
  }
}
// Background Image Attachment
.section-bg-image-attachment-fix {
  // Disable for IOS
  body:not(.--o--agent-iphone) &, body:not(.--o--agent-ipad) & {
    background-attachment: fixed;
  }
}