#footer .section + .section {
  font-size: $o-subfooter-font-size;
  color: $o-subfooter-color;
  background-color: $o-subfooter-bg;
  .row > [class^="col-"]:nth-child(1) {
    margin-bottom: $spacer-y;
  }
  a {
    color: $o-subfooter-link-color;
    &:hover {
      color: $o-subfooter-link-hover-color;
    }
  }
  .text-muted {
    color: $o-subfooter-muted-color;
    &:hover {
      color: $o-subfooter-muted-color;
    }
  }
  small {
    font-size: 90%;
  }
  .--o--widget {
    margin: 0;
    p:last-child {
      margin: 0;
    }
  }
  @include media-breakpoint-up(sm) {
    .row > [class^="col-"]:nth-child(1) {
      margin-bottom: 0;
    }
    .row > [class^="col-"]:nth-child(2) {
      text-align: right;
    }
  }
}

@include media-breakpoint-up(md) {
  #footer .section + .section {
    .col-sm-6 + .col-sm-6 {
      text-align: right;
    }
    .col-sm-4:nth-child(2) {
      text-align: center;
    }
    .col-sm-4:nth-child(3) {
      text-align: right;
    }
  }
}