// Basic Typography
body {
  font-weight: $o-font-weight-root;
}
a:focus {
  outline: none;
}

// Selection color;
::selection {
  background: $body-color;
  color: $body-bg;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-style: $o-headings-style;
  &.font-italic {
    font-style: italic;
  }
}

// Lead Text
.lead {
  line-height: $o-lead-line-height;
}

// Bordered Headings
.--o--heading-bordered {
  position: relative;
  padding-left: 24px;
  border: 0;
  border-left-width: $o-heading-border-width;
  border-style: solid;
  border-color: $hr-border-color;
  padding-top: 12px;
  padding-bottom: 12px;
  small {
    display: block;
    font-size: 58%;
  }
  &.--o--heading-bordered-reversed {
    text-align: right;
    border-left-width: 0;
    border-right-width: $o-heading-border-width;
    padding-left: 0;
    padding-right: 24px;
  }
}

// Blockquotes
.blockquote  {
  p {
    text-indent: -( $blockquote-font-size + 4px );
    font-family: $o-blockquote-font-family;
    font-style: $o-blockquote-style;
    font-weight: $o-blockquote-font-weight;
    line-height: $o-blockquote-line-height;
    &:before, &:after {
      position: relative;
      font-size: 3em;
      line-height: $blockquote-font-size;
      height: $blockquote-font-size;
      width: $blockquote-font-size;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      opacity: 0.2;
    }
    &:before {
      content: "\201C";
    }
    &:after {
      content: "\201D";
      margin-left: $blockquote-font-size;
    }
  }
  &.blockquote-reverse {
    p {
      text-indent: 0;
      &:before {
        margin-right: $blockquote-font-size;
      }
      &:after {
        margin-left: 0;
        width: 0;
        right:-$blockquote-font-size/2;
      }
    }
  }
  &.blockquote-lg {
    font-size: $blockquote-font-size-lg;
    p:before, p:after {
      font-size: 2.5em;
    }
  }
}
.blockquote-footer {
  font-size: $o-blockquote-small-size;
  font-style: $o-blockquote-small-style;
}

// Font weight Classes
$i: 100;
@while $i <= 900 {
  .--o--font-weight-#{$i} {
    font-weight: #{$i} !important;
  }
  $i: $i + 100;
}

// Line Height Classes
.--o--line-height-small {
  line-height: 1;
}
.--o--line-height-normal {
  line-height: $line-height-base;
}
.--o--line-height-big {
  line-height: $line-height-base * 2;
}

// Lists
.fa-ul {
  li {
    line-height: 2em;
  }
  .fa-li {
    top: 0;
    left: -2.5em;
    position: absolute;
    line-height: 2em;
  }
}

// Muted text
a.text-muted:hover {
  color: $link-color !important;
}

// Light text
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .--o--text-#{$breakpoint}-light {
      color: $o-light-color !important;
      h1, h2, h3, h4, h5, h6,
      .h1, .h2, .h3, .h4, .h5, .h6,
      &h1, &h2, &h3, &h4, &h5, &h6,
      &.h1, &.h2, &.h3, &.h4, &.h5, .h6 {
        color: $o-light-headings-color !important;
      }
      .blockquote-footer {
        color: $o-light-color;
      }
      a, & a {
        color: $o-light-link-color !important;
        &:hover {
          color: $o-light-link-hover-color !important;
        }
      }
      .text-muted, &.text-muted {
        color: $o-light-text-muted  !important;
      }
      .--o--heading-bordered,
      &.--o--heading-bordered {
        border-color: $o-light-border-color !important;
      }
    }
  }
}

// Super truncate, normal truncate & only shows first letter on small screens
.--o--text-super-truncate {
  @include text-truncate();
}
@include media-breakpoint-down(md) {
  .--o--text-super-truncate {
    visibility: hidden;
    &::first-letter {
      visibility: visible;
    }
  }
}
