// Basic Colors
$body-bg:    #F8F0E9;
$body-color: #575e66;

// Basic Type
$font-family-base:  'Alegreya Sans';
$font-size-root: 18px;
$o-font-weight-root: 400;
$line-height-base: 1.5;

// Headings Type
$headings-font-family: 'Playfair Display';
$headings-color: #121823;
$headings-font-weight: 400;
$o-headings-style: normal;
$headings-margin-bottom: 24px;
$headings-line-height:   1.2;

$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 21px;
$font-size-h5: 18px;
$font-size-h6: 14px;

$display1-size: 96px;
$display2-size: 60px;
$display3-size: 48px;
$display4-size: 36px;

$font-size-lg:   21px;
$font-size-sm:   16px;
$font-size-xs:   14px;

// links
$link-color: #121823;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

// Muted text
$text-muted: #979da3;

// Navigation
$o-nav-height: 120px;
$o-nav-height-scrolled: 100px;
$o-nav-bg: rgba(241,237,228,0.94);
$o-nav-font-family: 'Playfair Display';
$o-nav-font-weight: 400;
$o-nav-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 4px 5px 0 rgba(0,0,0,.05),0 1px 10px 0 rgba(0,0,0,.04);

$o-nav-link-font-size: 16px;
$o-nav-link-color: #575e66;
$o-nav-link-hover-color: #121823;
$o-nav-link-hover-bg: transparent;
$o-nav-link-active-color: #121823;
$o-nav-link-active-bg: transparent;
$o-nav-link-padding-y: 20px; // For menu items before collapsing only
$o-nav-link-padding-x: 30px; // For menu items after collapsing only
$o-nav-link-max-size: 130px; // for float meny only
$o-nav-link-border-width: 3px;
$o-nav-link-border-color: #d3ccbd;

$o-nav-brand-color: #313843;
$o-nav-brand-font-size: 21px;
$o-nav-link-brand-height: 150px; // For menu layouts with the logo above only
$o-nav-link-brand-width: 150px;  // For menu style with the logo in center and menu left and right
$o-nav-brand-padding-y: 20px; // Brand vertical padding

$o-nav-float-y: 20px; // Top margin for float nav only
$o-nav-float-shadow: 0 20px 15px rgba(0,0,0,.17); // Shadow for floating menu only

// Navigation Dropdowns
$o-nav-dropdown-bg: rgba(248, 242, 230, .9);
$o-nav-dropdown-font-size: 14px;
$o-nav-dropdown-link-color: #575e66;
$o-nav-dropdown-link-hover-color: #121823;
$o-nav-dropdown-link-hover-bg: #ece5d6;
$o-nav-dropdown-link-active-color: #121823;
$o-nav-dropdown-link-active-bg: #ece5d6;
$o-nav-dropdown-link-padding-y: 12px;
$o-nav-dropdown-link-padding-x: 20px;
$o-nav-dropdown-width: 200px;
$o-nav-dropdown-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

// Transparent navigation colors
$o-nav-transparent-bg: rgba(255, 255, 255, 0);
$o-nav-transparent-link-color: #575e66;
$o-nav-transparent-link-hover-color: #121823;
$o-nav-transparent-link-active-color: #121823;

// Navigation Collapse point
$o-nav-collapse-breakpoint: 1200px;

// Blockquotes
$o-blockquote-font-family: 'Playfair Display';
$blockquote-font-size:    24px;
$o-blockquote-font-weight: 400;
$o-blockquote-style:  italic;
$o-blockquote-line-height: 1.66666;
$blockquote-font-size-lg: 36px;

$blockquote-small-color:  #393e43;
$o-blockquote-small-size: 14px;
$o-blockquote-small-style: normal;

$blockquote-border-color: transparent;
$blockquote-border-width: 0px;

// Lead text
$lead-font-size:   24px;
$lead-font-weight: 300;
$o-lead-line-height: 40px;

// Light colored elements
$o-light-color: #f8f2e6;
$o-light-headings-color: #f8f2e6;
$o-light-link-color: #f8f2e6;
$o-light-link-hover-color: #f8f2e6;
$o-light-text-muted: #f8f2e6;
$o-light-border-color: #f8f2e6;


// Global Border radius
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Buttons
$btn-padding-x: 36px;
$btn-padding-y: 10px;
$btn-line-height: 1.25;
$btn-font-weight: normal;
$o-btn-font-size: 16px;
$o-btn-style: uppercase;
$o-btn-border-width: 1px;

$btn-primary-color:              #f8f2e6;
$btn-primary-bg:                 #121823;
$btn-primary-border:             #121823;

$btn-secondary-color:            #f8f2e6;
$btn-secondary-bg:               #575e66;
$btn-secondary-border:           #575e66;

$btn-info-color:                 #f8f2e6;
$btn-info-bg:                    #9eb9c0;
$btn-info-border:                #9eb9c0;

$btn-success-color:              #f8f2e6;
$btn-success-bg:                 #9ba290;
$btn-success-border:             #9ba290;

$btn-warning-color:              #f8f2e6;
$btn-warning-bg:                 #caac8e;
$btn-warning-border:             #caac8e;

$btn-danger-color:               #f8f2e6;
$btn-danger-bg:                  #ac686a;
$btn-danger-border:              #ac686a;

$btn-link-disabled-color:        #979da3;

$btn-padding-x-sm:               30px;
$btn-padding-y-sm:               5px;

$btn-padding-x-lg:               40px;
$btn-padding-y-lg:               13px;

$btn-border-radius: 0;
$btn-border-radius-lg:           0;
$btn-border-radius-sm:           0;

// Forms
$input-padding-x:                14px;
$input-padding-y:                10px;
$input-line-height:              1.25;

$input-bg:                       #ede6d7;
$input-bg-disabled:              #e3dbc9;

$input-color:                    #575e66;
$input-border-color:             #989ca4;
$input-btn-border-width:         3px;

$input-border-radius:            0;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;

$input-bg-focus:                 #F7F1E6;
$input-border-focus:             #575e66;
$input-color-focus:              #575e66;

$input-color-placeholder:        #979da3;

$input-padding-x-sm:             14px;
$input-padding-y-sm:             8px;

$input-padding-x-lg:             14px;
$input-padding-y-lg:             13px;

// Footer
$o-footer-bg: transparent;
$o-footer-color: #bab2a1;
$o-footer-font-size: 16px;
$o-footer-link-color: #f8f2e6;
$o-footer-link-hover-color: #bab2a1;
$o-footer-headings-color: #f8f2e6;
$o-footer-border-color: rgba(248, 242, 230, 0.1);
$o-footer-muted-color: #bab2a1;
$o-footer-primary-color:  #121823;
$o-footer-primary-bg: rgba(248, 242, 230, .9);

// Subfooter
$o-subfooter-bg: #111820;
$o-subfooter-color: #bab2a1;
$o-subfooter-font-size: 16px;
$o-subfooter-link-color: #f8f2e6;
$o-subfooter-link-hover-color: #bab2a1;
$o-subfooter-muted-color: #bab2a1;

// Sidebar Widgets
$o-widget-padding-x: 20px;
$o-widget-padding-y: 20px;
$o-widget-bottom-margin: 30px;
$o-widget-bg: rgba(248, 242, 230, .8);
$o-widget-border-color: #ded4c0;

// Rule & border Colors
$hr-border-color: #979da3;

// Bordered Header width
$o-heading-border-width: 3px;

// Cards
$card-spacer-x:            30px;
$card-spacer-y:            30px;
$o-card-cap-spacer-y:      10px; // footer horizontal padding
$card-border-width:        0px;
$card-border-radius:       0;
$card-border-color:        rgba(248, 242, 230, .8);
$card-bg:                  rgba(248, 242, 230, .8);
$card-img-overlay-padding: 20px;

$card-cap-bg:              #ece5d6;
$o-card-inverse-bg:        #121823;
$o-card-hero-spacer-x:     100px;
$o-card-hero-spacer-y:     100px;

// Alerts
$state-success-text:             #f8f2e6;
$state-success-bg:               #9ba290;
$state-success-border:           #889488;

$state-info-text:                #f8f2e6;
$state-info-bg:                  #9eb9c0;
$state-info-border:              #7a99a1;

$state-warning-text:             #f8f2e6;
$state-warning-bg:               #caac8e;
$state-warning-border:           #bc9e80;

$state-danger-text:              #f8f2e6;
$state-danger-bg:                #ac686a;
$state-danger-border:            #905153;

// List Groups
$list-group-item-padding-y: 30px;
$list-group-item-padding-x: 30px;
$list-group-border-width: 1px;

$list-group-bg: rgba(248, 242, 230, 1);
$list-group-border-color: #e8e2d7;
$list-group-hover-bg: #eee7d9;

// Counters
$o-counter-spacer-x:            20px;
$o-counter-spacer-y:            20px;
$o-counter-bg:                  #ece5d6;
$o-counter-color: #121823;
$o-counter-footer-bg:              #e3d9c5;

// Progress Bars
$progress-bg:                 #e7e1d6;
$progress-bar-color:          #121823;
$o-progress-bar-height:        4px;

// Breadcrumbs
$breadcrumb-padding-y:          30px;
$breadcrumb-padding-x:          30px;
$breadcrumb-item-padding:       10px;

$breadcrumb-bg:                 #ece5d6;
$breadcrumb-divider-color:      #979da3;
$breadcrumb-active-color:       #979da3;
$breadcrumb-divider:            "/";

// Pagination
$pagination-padding-x:                16px;
$pagination-padding-y:                6px;
$pagination-padding-x-sm:             14px;
$pagination-padding-y-sm:             3px;
$pagination-padding-x-lg:             20px;
$pagination-padding-y-lg:             8px;

$pagination-color:                     #575e66;
$pagination-bg:                        #f8f2e6;
$pagination-border-width:              1px;
$pagination-border-color:              #e7decd;

$pagination-hover-color:               #f8f2e6;
$pagination-hover-bg:                  #121823;
$pagination-hover-border:              #121823;

$pagination-active-color:              #f8f2e6;
$pagination-active-bg:                 #121823;
$pagination-active-border:             #121823;

$pagination-disabled-color:            #979da3;
$pagination-disabled-bg:               #f8f2e6;
$pagination-disabled-border:           #f8f2e6;

// Popovers
$popover-bg:                          #121823;
$o-popover-color:                     #f8f2e6;
$popover-border-color:                #121823;
$popover-title-bg:                    #121823;

// Tooltips
$tooltip-color:               #f8f2e6;
$tooltip-bg:                  #121823;
$tooltip-padding-y:           6px;
$tooltip-padding-x:           20px;

// Modals
$modal-inner-padding:         30px;
$modal-title-padding:         30px;

$modal-content-bg:               #f8f2e6;
$modal-content-border-color:     rgba(0,0,0,.2);
$modal-content-border-width:     1px;
$modal-backdrop-bg:           rgba(18, 24, 35, .8);
$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;

// Tables
$table-cell-padding:            20px;
$table-sm-cell-padding:         10;

$table-bg:                      transparent;
$o-table-header-bg: transparent;
$o-table-body-bg: rgba(248, 242, 230, .8);
$table-bg-accent:               rgba(238, 232, 220, .6);
$table-bg-hover:                rgba(228, 222, 210, .4);
$table-bg-active:               red;
$table-border-width:            1px;
$table-border-color:            rgba(0,0,0,.025);

// Panels
$o-panel-heading-padding-x: 30px;
$o-panel-heading-padding-y: 20px;
$o-panel-heading-color: #575e66;
$o-panel-heading-bg: #ECE5D8;
$o-panel-heading-border-color: #dcd4c5;

$o-panel-content-padding-x: 30px;
$o-panel-content-padding-y: 20px;
$o-panel-content-bg: transparent;
$o-panel-content-color: #575e66;

// Nav
$nav-tabs-border-color:                       #dcd4c5;
$nav-tabs-border-width:                       1px;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            transparent;
$nav-tabs-active-link-hover-color:            #121823;
$nav-tabs-active-link-hover-bg:               #F8F0E9;
$nav-tabs-active-link-hover-border-color:     #dcd4c5;

// Magnific
$o-magnific-overlay-color:                   rgba(18, 24, 35, .8);
$o-magnific-controls-color:                  #f8f2e6;

// Loader
$o-loader-bg: rgba(55, 61, 68, .95);
$o-loader-color: rgba(248, 242, 230, .5);
$o-loader-image: url("../images/logo.png");

// Go to top button
$o-go-top-bg: rgba(18, 24, 35, .7);
$o-go-top-color: #f8f2e6;
$o-go-top-radius: 50%;

// Transition Speed
$o-transition-speed: 0.3s;

// Paralax Speed
$parallax-space: 20%;

// Grid System
$grid-gutter-width: 30px;
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
